# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# --- Keil MDK 特有垃圾文件 ---
*.uvgui.* # 存储你上次关掉 Keil 时打开了哪些窗口，没必要传
*.uvguix.* # 同上（新版 Keil）
*.build_log.htm  # 编译日志
*.dep            # 依赖文件
*.iex            # 扩展索引
*.lnp            # 链接脚本生成的临时文件
*.sct            # 散列加载文件（除非你手动改过，否则自动生成的不用传）
*.lst            # 列表文件
*.crf
/Listings/       # Keil 默认存放列表的文件夹
/Objects/        # Keil 默认存放输出的文件夹

# --- STM32CubeIDE / Makefile 特有 ---
*.launch         # 调试配置
.mxproject       # CubeMX 的项目描述文件（如果你不打算给别人改，可以不传）

# --- 操作系统临时文件 ---
.DS_Store
Thumbs.db

