# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# --- Keil MDK 特有垃圾文件 ---
*.uvgui* # 通杀所有 uvgui 变体
*.uvguix* # 通杀所有 uvguix 变体
*.build_log.htm
*.dep
*.iex
*.lnp
*.sct
*.lst
*.crf
*.htm
*.map
*.axf          # 你刚才提到了这个，建议加上
*.bak          # 自动备份
*.scvd         # 组件视图文件
/Listings/
/Objects/
/DebugConfig/  # 屏蔽仿真器配置文件夹
project.uvguix.19271
*.19271
*.19271
project.uvguix.19271
